<% include adminHeader.html %>
<script>
function Detail(event){

window.location.href='/tools/adminEvent/eventDetail?eventName='+escape(event);
}

function Delete(event){

window.location.href='/tools/adminEvent/deleteEvent?eventName='+escape(event);
}
function Email(event){
alert('Reminder emails have been sent to users who booked this event!')
window.location.href='/tools/adminEvent/sendEmail?eventName='+escape(event);
}
	$('#em').addClass('active');
</script>
  
    <div class="container">
    	<br>
		<div class="row">
			<% eventList.forEach(function(events){ %>
			    <div class="col-xs-12 col-md-6">
					<h2>
						<%=events.name%>
					</h2>
					<!--<p>
						<%=events.description%>
					</p>-->
					<p>
						<%=events.time%>
					</p>
					<p>
						<%=events.location%>
					</p>	
					<p>
						<button class="button" onclick="Detail('<%=events.name%>')">
						Detail
						</button>
						&nbsp;&nbsp;
						<button class="button" onclick="Delete('<%=events.name%>')">
						Delete
						</button>
						<button class="button" onclick="Email('<%=events.name%>')">
						Email
						</button>
					</p>
				</div>
			<%})%>
		</div>
		<div class="row">	
			<div align="center">
				<a href="/tools/adminEvent/event" class="btn btn-danger">Create</a>
			</div>
		</div>
	</div>
<% include footer.html %>

