<% include adminHeader.html %>
<script>
	$('#em').addClass('active');
</script>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<br>
			<div class="row">
				<div class="col-md-3">
				</div>
				<h4 class="col-md-3">
					Name:
				</h4>
				<p class="col-md-3">
					<%=eventName%>
				</p>
				<div class="col-md-3">
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-3">
				</div>
				<h4 class="col-md-3">
				Description:
				</h4>
				<p class="col-md-3">
				<%=description%>
				</p>
				<div class="col-md-3">
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-3">
				</div>
				<h4 class="col-md-3">
				Time:
				</h4>
				<p class="col-md-3">
				<%=time%>
				</p>
				<div class="col-md-3">
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-3">
				</div>
				<h4 class="col-md-3">
					Location:
				</h4>
				<p class="col-md-3">
					<%=location%>
				</p>
				<div class="col-md-3">
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-3">
				</div>
				<h4 class="col-md-3">
					Owners:
				</h4>
				<p class="col-md-3">
					<%-owners%>
				</p>
				<div class="col-md-3">
				</div>
			</div>
			<br>
			<div class="row" align="center">
				<a href="javascript:history.back(-1);" class="btn btn-default">Back</a>
			</div>
		</div>
	</div>
</div>
<% include footer.html %>