<% include adminHeader.html %>
<script>
  $('#es').addClass('active');
</script>
<script type="text/javascript" src="/tools/javascripts/jquery-1.11.1.min.js"></script>


<link rel='stylesheet' href='/tools/stylesheets/expenseStyle/style.css' />
<div class="container">
  <div id="divMain">
    <h1 align="center">Expense Snake Management</h1>
   <div class="SubMenu" style="display: block;"><a href="adminExpenseSnake/c_add"><span class="btn btn-primary" style="color:white">New Category </span></a><a href="adminExpenseSnake/recommendation_add"><span class="btn btn-danger" style="color:white">New Product </span></a><a href="adminExpenseSnake/recommendation_management"><span class="btn btn-info" style="color:white">Recommendation List</span></a></div>
    <div id="divMain2">
    <h2>Category List</h2>
      <table border="1" cellpadding="10">
        <tbody>
          <tr class="color1">
            <th>ID</th>
            <th>Category</th>
            <th>Description</th>
            <th>operation</th>
          </tr>
          <% for(var i=0; i<list.length; i++) {%>
          <tr class="color3">
            <td class="td5"><%=  i+1 %> </td>
            <td class="td10"><%= list[i].category_name %> </td>
            <td class="td10"><%= list[i].des %>  </td>
            <td class="td10 tdCenter"><a href="adminExpenseSnake/c_add?id=<%= list[i]._id %>" class="btn btn-primary" style="color:white">Edit</a> <a href="javascript:;" onClick="del('<%= list[i]._id %>')" class="btn btn-danger del" style="color:white">Delete</a></td>
        <%}%>
        </tbody>
      </table>
      <hr>
      
    </div>
</div>
</div>
  <script>

 function del(id)
 {
	 	$.ajax({
		type:"POST",
		url:"adminExpenseSnake/api?act=c_del&id="+id,
		success:function(res){
			  if(res.code)
			  {
				  alert('Delete the success');
				  window.location.reload();
			  }
			  else
			  {
				  alert(res.msg);
			  }
			}
		});
 }
 </script>


<% include footer.html %>