<% include adminHeader.html %>
<script type="text/javascript" src="/tools/javascripts/jquery-1.11.1.min.js"></script>
<link rel='stylesheet' href='/tools/stylesheets/expenseStyle/style.css' />
<div class="container">
  <div id="divMain">
   <h1 align="center">Category Information</h1>
   	<div class="row">
   		<div class="col-md-3"></div>
	    <div id="divMain2" class="edit tag_edit col-md-6">
	    <form id="edit" name="edit" method="post" action="#">
		<input id="id" name="id" type="hidden" value="<%= _id%>">
	  	<dl style="text-align: center;">
	    	<dt><span class="title">Category</span></dt>
	    	<dd><input name="category_name" type="text" id="category_name" class="edit" placeholder="Category" value="<%= category_name%>"/> </dd>
	  	</dl> 
	  	<dl style="text-align: center;">
	    	<dt><span class="title">Description</span></dt>
	    	<dd><input name="des" type="text" id="des" class="edit" placeholder="Description" value="<%= des%>"/></dd>
	  	</dl> 
	  	<dl style="text-align: center;">
	        <input name="btnReturn" style="width:100px" value="Return" class="btn btn-warning" onclick="javascript:history.back(-1);" />
			<input class="btn btn-primary" style="width:100px" type="submit" value="Submit" id="btnPost">
		</dl>
		</form>
	    </div>
	</div>
</div>
</div>
    <script>	
	$("#edit").on("submit",function()
	{
		var data={};
		data.category_name=$("#category_name").val();
		
		data.days=$("#days").val();
		data.des=$("#des").val();
		data.id=$("#id").val();
  		if(data.category_name=="")
		{
			alert('Category cannot be empty');
			return false;
		}
		
		if(data.days=="")
		{
			alert('Days cannot be empty');
			return false;
		}

				$.ajax({
					type:"POST",
					url:"api?act=c_add",
					data:data,
					success:function(res){
						
						  if(res.code)
						  {
							  window.location.href="/tools/adminExpenseSnake";
						  }
						  alert(res.msg);
						}
					});
			return false;
	});
	</script>
<% include footer.html %>