<% include header.html %>
    <script language="javascript">
		function addAlert(){
			alert('update successfully');
			return true;
		}
		$('#pi').addClass('active');
	</script>
			<form action="/tools/personalInfo/add" method="post" onsubmit="return addAlert()" >
			<div class="container">
			<br>
			<div class="row">
				<div class="col-md-3" >
				</div>
				<h3 class="col-md-3" >
				Name:
				</h3>
				<h3 class="col-md-3">
				<%=name%>
				</h3>
				
			</div>
			<div class="row">
				<div class="col-md-3" >
				</div>
				<h3 class="col-md-3" >
				Age:
				</h3>
				<div class="col-md-3">
				<input type="text" name="age" class="form-control" required="required" oninput="setCustomValidity('')"oninvalid="setCustomValidity('enter a valid age')"onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" onafterpaste="this.value=this.value.replace(/[^0-9]/g,'')" value=<%=age%> >
				</div>
				
			</div>
			<br>
			<div class="row">
				<div class="col-md-3" >
				</div>
				<h3 class="col-md-3">
				Address:
				</h3>
				<div class="col-md-3" >
				<input type="text" name="address" class="form-control" required="required" oninput="setCustomValidity('')"oninvalid="setCustomValidity('enter a valid address')"value=<%=address%> >
				</div>
				
			</div>
			<br>
			<div class="row">
				<div class="col-md-3" >
				</div>
				<h3 class="col-md-3">
				Phone:
				</h3>
				<div class="col-md-3">
				<input type="text" name="phone" class="form-control" required="required" oninput="setCustomValidity('')"oninvalid="setCustomValidity('enter a valid phone number')"onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" onafterpaste="this.value=this.value.replace(/[^0-9]/g,'')" value=<%=phone%> >
				</div>
				
			</div>
			
			<br>
			<div class="row">
				<div class="col-md-3" >
				</div>
				<h3 class="col-md-3">
				Income(AUD/weekly):
				</h3>
				<div class="col-md-3">
				<input type="text" name="income" class="form-control" required="required" oninput="setCustomValidity('')"oninvalid="setCustomValidity('enter a valid income')"onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" onafterpaste="this.value=this.value.replace(/[^0-9]/g,'')" value=<%=income%> >
				</div>
				
			</div>
			<br>
			<div class="row">
				<div class="col-md-3" >
				</div>
				<h3 class="col-md-3">
				Occupation:
				</h3>
				<div class="col-md-3">
				<input type="text" name="occupation" class="form-control" required="required" oninput="setCustomValidity('')"oninvalid="setCustomValidity('enter a valid occupation')"value=<%=occupation%> >
				</div>
				
			</div>
			<br>
			<div class="row">
				<div class="col-md-3" >
				</div>
				<h3 class="col-md-3">
				Interests:
				</h3>
				<div class="col-md-3">
				<textarea name="interests" class="form-control"required="required" oninput="setCustomValidity('')"oninvalid="setCustomValidity('enter valid interests')"><%=interests%></textarea>
				</div>
				
				
			</div>
			<br>
			<div align="center">
				<button type="submit" class="btn btn-danger" >
					Update
				</button>
			</div>
			</div>
			</form>
        
<% include footer.html %>