<% include adminHeader.html %>
<script>
  $('#es').addClass('active');
</script>
<script type="text/javascript" src="/tools/javascripts/jquery-1.11.1.min.js"></script>
<link rel='stylesheet' href='/tools/stylesheets/expenseStyle/style.css' />
<div class="container">
  <div id="divMain">
  <h1 align="center">Recommendation Management</h1>
    <div class="row">
    <h3>
    Recommendation Category: <select id="select_category" style="width:120px">
        <tr class="color3">
            <option value="all">All</option>
    <% for(var i=0; i<c_list.length; i++) {%>
      <tr class="color3">
        <option value="<%= c_list[i].category_name.replace(/\s+/g, '') %>"> <%= c_list[i].category_name %></option>
      <% } %>

    </select>
    </h3>
  </div>    
    <div id="divMain2">
      <div class="row">
        <% for(var i=0; i<recommendation.length; i++){ %>
            <div class="recommd col-xs-12 col-md-6 <%= recommendation[i].category_name.replace(/\s+/g, '') %>">
                <h3>
                    <%= recommendation[i].category_name %>
                </h3>
                <p>
                    Name:<%= recommendation[i].recommend_product %>
                </p>
                 <p>
                    Price:<%= recommendation[i].recommend_price %>
                </p>
                <p>
                    <%= recommendation[i].description %>
                </p>
                <a href="<%= recommendation[i].product_url %>">
                    <%= recommendation[i].product_url %>
                </a>
                <p class="td10 tdCenter">
                    <a href="javascript:;" onClick="del('<%= recommendation[i]._id %>')" style="color:white;" class="btn btn-danger del">delete</a>
                </p>
            </div>
        <%}%>
    </div>
      <hr>
    </div>
    <p>
        <input name="btnReturn" value="Return" class="btn btn-warning" onclick="javascript:history.back(-1);" />
    </p>

</div>
</div>
  <script>

 function del(id)
 {
	 	$.ajax({
		type:"POST",
		url:"api?act=recommendation_del&id="+id,
		success:function(res){
			  if(res.code)
			  {
				  alert('Delete the success');
				  window.location.reload();
			  }
			  else
			  {
				  alert(res.msg);
			  }
			}
		});
 }

$('#select_category').change(function() {
    if($('#select_category').val() !== 'all'){
        $('.recommd').hide();
    }
    if($('#select_category').val() === 'all'){
        $('.recommd').show();
    }
    $('.' + $('#select_category').val()).show();
});



 
</script>
<% include footer.html %>