<% include adminHeader.html %>
<script type="text/javascript" src="/tools/javascripts/jquery-1.11.1.min.js"></script>
<link rel='stylesheet' href='/tools/stylesheets/expenseStyle/style.css' />
 
<div class="container">
  <div id="divMain">
    <h1 align="center">Product Information</h1>
    <div class="row">
    	<div class="col-md-3"></div>
    <div id="divMain2" class="edit tag_edit col-md-6">

      <form id="edit" name="edit" method="post" action="#">
	  <input id="id" name="id" type="hidden" value="<%= _id%>">
  	 <dl style="text-align: center;">
    <dt><span class="title">Category</span></dt>
    <dd>
     <select name="cid" id="cid">
     <% for(var i=0; i<c_list.length; i++) {%>
          <tr class="color3">
            
			<option value="<%= c_list[i]._id %>" <% if (c_list[i]._id==cid) { %> selected="selected"<% } %>><%= c_list[i].category_name %></option>
          <% } %>
      
     </select>
     </dd>
  </dl> 

 <dl style="text-align: center;">
    <dt><span class="title">Product</span></dt>
    <dd><input name="recommend_product" type="text" id="recommend_product" class="edit" placeholder="Recommend Product"  value="<%= recommend_product%>"    /></dd>
  </dl> 

  	 <dl style="text-align: center;">
    <dt><span class="title">Description</span></dt>
    <dd><input name="description" type="text" id="description" class="edit" placeholder="description"  value="<%= description%>"    /></dd>
  </dl> 

  <dl style="text-align: center;">
    <dt><span class="title">Price</span></dt>
    <dd><input name="recommend_price" type="text" id="recommend_price" class="edit" placeholder="Recommend Price"  value="<%= recommend_price%>" /></dd>
  </dl>

   <dl style="text-align: center;">
    <dt><span class="title">Link</span></dt>
    <dd><input name="product_url" type="text" id="product_url" class="edit" placeholder="Url"  value="<%= product_url%>"    /></dd>
  </dl> 
  	<dl style="text-align: center;">
        <input name="btnReturn" value="Return" style="width:100px" class="btn btn-warning" onclick="javascript:history.back(-1);" />
		<input class="btn btn-primary" style="width:100px" type="submit" value="Submit" id="btnPost" >
	</dl style="text-align: center;">
	</form>
    </div>
</div>
</div>
</div>
    <script>
	//$("body").html("JQuery");
	$("#edit").on("submit",function()
	{


		var data={};

		data.cid=$("#cid").val();
		data.recommend_product=$('#recommend_product').val();
		data.description=$('#description').val();
		data.recommend_price=$("#recommend_price").val();
		data.product_url=$("#product_url").val();
		data.id=$("#id").val();

		if(data.recommend_product=="")
		{
			alert('Productname cannot be empty');
			return false;
		}

		if(data.description=="")
		{
			alert('My description cannot be empty');
			return false;
		}
		if(data.price=="")
		{
			alert('Product price should has value');
			return false;
		}
		if(data.url=="")
		{
			alert('URL cannot be empty');
			return false;
		}
		// alert("submit");
		$.ajax({
					type:"POST",
					url:"api?act=recommendation_add",
					data:data,
					success:function(res){
						
						  if(res.code)
						  {
							  window.location.href="/tools/adminExpenseSnake";
						  }
						  alert(res.msg);
						}
					});
			return false;
	});
	
	</script>
<% include footer.html %>