<% include header.html %>
  	<script>
	function Detail(event){

		window.location.href='/tools/userEvent/eventDetail?eventName='+escape(event);
		}
	function ifBooked(obj,user,event,eventID){
	if(obj.value=="Book")
		{
		$.ajax({
			type:'post',
			 data:{'id':user,'eventName':event,'eventID':eventID},
			 url:'/tools/userEvent/bookEvent',
			 success:function(data){
			 if(data){
			 	obj.value="Cancel";
				obj.className = "button button-highlight";
			 	alert('book successfully');
			 }
			 
			 }
			})
			}
	else {

	     $.ajax({
			type:'post',
			 data:{'id':user,'eventName':event,'eventID':eventID},
			 url:'/tools/userEvent/cancelBook',
			 success:function(data){
			 if(data){
			 	obj.value="Book";
				obj.className = "button button-action";
			 	alert('cancel successfully')
			 }
			
			 }
			})
		}
	 }
	 
	 function searchEvent(){
	 var event=$("#EventName").val();
	 var eventArray=new Array();
	 $.ajax({
			type:'post',
			 data:{'event':event},
			 dataType:'json',
			 url:'/tools/userEvent/searchEvent',
			 success:function(data){
			 $.each(data,function(eventIndex,event){
			 eventArray.push(event['name']);
			 })
			 $('div').each(function(){					 
				var i;
				if($(this).attr('id'))
				{				
				 for (i=0;i<eventArray.length;i++){
				
					 if($(this).attr('id')==(eventArray[i]+'info'))
					 {						 
					  $(this).css('display','block');
					  break;
					 }
				 }
				 if(i==eventArray.length){		
					$(this).css('display','none');					
				 }
				 i=0;
				 }
			 })			 			 
			 }
			})	
	 }
	 
	$(document).ready(function(){
	<%if(bookedEvent) {%>
	<% bookedEvent.forEach(function(events){ %>
	
			$("#<%=events.eventID%>").val("Cancel");
			$("#<%=events.eventID%>").removeClass("button-action");
			$("#<%=events.eventID%>").addClass("button-highlight");
	<%})%>
	<%}%>
	});
	$('#em').addClass('active');
	</script>
	<div class="container">
		<br>
		<div class="row">
			<div class="col-md-7">
			</div>
			<div class="col-md-3">
				<div class="input-group">
					<input type="text" id='EventName' class="form-control">
					<span class="input-group-btn">
						<button class="btn btn-default" onclick="searchEvent()">Search</button>
					</span>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<% eventList.forEach(function(events){ %>
			    <div id="<%=events.name+"info"%>" class="col-xs-12 col-md-6">
					<h2>
						<%=events.name%>
					</h2>
					<!--<p>
						<%=events.description%>
					</p>-->
					<p>
						<%=events.time%>
					</p>
					<p>
						<%=events.location%>
					</p>	
					<p>
						<button class="button" onclick="Detail('<%=events.name%>')">
						Detail
						</button>
						&nbsp;&nbsp;
						<input type="button" value="Book" class="button button-action" id="<%=events._id%>"  onclick="ifBooked(this,'<%=id%>','<%=events.name%>','<%=events._id%>')">
					</p>
				</div>
			<%})%>
		</div>
	</div>
<% include footer.html %>