<% include header.html %>
<script language="javascript">
	$(function() {
	<% SourceList.forEach(function(source){%>
	$("[id='<%=source.name%>']").webwidget_rating_simple({
	rating_star_length: '5',
	rating_initial_value: '<%=source.star%>',
	rating_function_name: 'rateSource("<%=source.name%>"',
	directory: './picture'
	});
	
	<%})%>
	});
	function rateSource(name,value){
	window.location.href="/tools/userIncome/rateSource?star="+value+'&'+'name='+name;
	}
	function previous(){
	if(<%=pageNumber%> > 1){
	var number=<%=pageNumber%>-1;
	window.location.href="/tools/userIncome?page="+number;
	}
	}
	function next(){
	if(<%=pageNumber%> <$(".pagination").children("li").length-2){
	var number=<%=pageNumber%>+1;
	window.location.href="/tools/userIncome?page="+number;
	}
	}
	
	
	$(document).ready(function(){
	var number=<%=pageNumber%>;
	
	$("li[name=<%=pageNumber%>]").attr("class","active");
	if(number==1){
	$("li[name=previousPage]").attr("class","disabled");
	}
	if(number==$(".pagination").children("li").length-2){
	$("li[name=nextPage]").attr("class","disabled");
	}
	})
	$('#il').addClass('active');
</script>
	<div class="container">
	<br>
	<div class="row">
		<% SourceList.forEach(function(source){%>
			    <div class="col-xs-12 col-md-6">
			    	<br>
					<h2>
						<%=source.name%>
					</h2>
					<div align="center">
						<input name="star" value="3" id="<%=source.name%>" type="hidden">
					</div>
					<br>
					<p>
						Salary(AUD/hour):<%=source.introduction%>
					</p>
					<button class="button" onclick="javascript:window.location.href='/tools/userIncome/incomeSourceDetail?sourceName=<%=source.name%>'">
						Detail
					</button>
					<button class="button" onclick="javascript:window.location.href='/tools/userIncome/usedSource?sourceName=<%=source.name%>'">
						Used
					</button>
				</div>
		<%})%>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-12 col-md-3">
		</div>
		<div class="col-xs-12 col-md-3" align="center">
			<a href="/tools/userIncome/SourceOfIncome" class="btn btn-danger">Create</a>
		</div>
		<div class="col-xs-12 col-md-3" align="center">
			<a href="/tools/userIncome/usedSourceList" class="btn button-action">Used Sources</a>
		</div>
	</div>
	<div align="center">
		<%if(totalPageNumber){%>
			<ul class="pagination"> 
				<li name="previousPage"><a href="#" onclick="previous()">&laquo;</a></li> 
				<% for(var i=0;i<totalPageNumber;i++) {%>
				
				<li  name="<%=i+1%>"><a  href="/tools/userIncome?page=<%=i+1%>" ><%=i+1%></a></li> 
				
				 <%}%>
				<li name="nextPage"><a href="#" onclick="next()">&raquo;</a></li> 
			</ul>
			<%}%>
		</div>
	</div>
<% include footer.html %>