[Service]
ExecStart=/bin/node app.js
WorkingDirectory=/project/2016-wc-platypus/NodeBB-master
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=node-forum
User=root
Group=swenadmin
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
